DATABASE_URL=postgresql://gafer:gafer@localhost:5432/gafer?schema=public
REDIS_URL=redis://localhost:6379
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ROOT_USER=gafer
MINIO_ROOT_PASSWORD=gafersecret
MINIO_BUCKET=gafer-archivos
