# En emulador de Android Studio: http://10.0.2.2:3000
# En celular físico por WiFi/USB: la IP local de tu PC (ej: http://192.168.1.50:3000)
# En producción: https://api.gafer.pe
EXPO_PUBLIC_API_URL=http://10.0.2.2:3000
